*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image:url('bg-images.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-block{
    width: 280px;
    padding: 20px 30px;
    border:1.1px solid #cecdcd;
    border-radius: 8px;
    background-color: #ffffff32;
    backdrop-filter: blur(2px);
    position: absolute;
    z-index: 10;
}

form p input{
    width: 100%;
    font-size: 16px;
    padding: 5px 7.5px;
    outline: none;
    border: none;
    border-radius: 2.5px;
}
form p select{
    width: 100%;
    font-size: 16px;
    color: #747474;
    padding: 5px 7.5px;
    outline: none;
    border-radius: 2.5px;
    border: none;
}
form p{
    margin-bottom: 10px;
}
/* ::placeholder{
    padding:10px;
} */

form p input[type="submit"]{
    width: 40%;
    font-size: 14px;
}
form p input[value="Login"]{
    background-color: #0061e0;
    color: #fff;
    border: none;
    padding: 7px;
    border-radius: 5px;
}
form p input[value="Signup"]{
    background-color:rgb(4, 165, 4);
    color: #fff;
    border: none;
    padding: 7px;
    border-radius: 5px;
}
form p:last-of-type{
    display: flex;
    justify-content: space-around;
}